* {
    box-sizing: border-box;
}

body{
    background-color: rgba(173, 194, 194, 0.589);
    display: flex;
    margin-top: 2%;
    text-align: center;
    justify-content: center;
}

section{
    box-sizing: border-box;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.658);
    width: 30vw;
    height: 70vh;
    border: 1px solid black;
    
    border-radius: 10px;
    }

.article{
    box-shadow: 55px rgba(255, 255, 255, 0.658);
}

img {
    margin: 20px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    
}

h2 {
    font-size: 35px;
    padding-bottom: 5%;
    border-bottom: 5px solid rgb(16, 131, 131);
    margin: 10%;
}

h4 {
    font-size: 25px;
    
}

#job {
    color: rgb(16, 131, 131);
}


button{
    border: none;
    background-color: white;
    color: rgb(16, 131, 131);
    cursor: pointer;
    padding: 5px 20px;
    margin: 5px;
    border-radius: 5px;
}


button:hover {
    color: aliceblue;
    background-color: rgb(16, 131, 131);
}
