* {
    box-sizing: border-box;
}

body{
    background-color: azure;
    display: flex;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
}

section{
    background-color: rgba(255, 255, 255, 0.658);
    width: 30vw;
    height: 60vh;
    border: 1px solid black;
    box-shadow:rgba(255, 255, 255, 0.658);
    border-radius: 10px;
    
    
}

button{
    border: none;
    background-color: white;
    color: rgb(16, 131, 131);
    cursor: pointer;
    padding: 10px 20px;
}